USE [master]
GO
/****** Object:  Database [EmployeeDB]    Script Date: 11/7/2019 1:43:03 PM ******/
CREATE DATABASE [EmployeeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EmployeeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EmployeeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/7/2019 1:43:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ContractTypeName] [int] NOT NULL,
	[HourlySalary] [decimal](18, 4) NOT NULL,
	[MonthlySalary] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Name], [ContractTypeName], [HourlySalary], [MonthlySalary]) VALUES (1, N'Oscar Quiñones', 0, CAST(150.0000 AS Decimal(18, 4)), CAST(36000.0000 AS Decimal(18, 4)))
INSERT [dbo].[Employee] ([Id], [Name], [ContractTypeName], [HourlySalary], [MonthlySalary]) VALUES (2, N'Celeste Quiñones', 1, CAST(150.0000 AS Decimal(18, 4)), CAST(40000.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[Employee] OFF
USE [master]
GO
